facturae_inditex/data/InditexInvoiceExtension_v_1_0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.inditex.com/documents/einvoicing/Facturae/InditexInvoiceExtension/v1.0" xmlns:fe="http://www.facturae.es/Facturae/2009/v3.2/Facturae" targetNamespace="http://www.inditex.com/documents/einvoicing/Facturae/InditexInvoiceExtension/v1.0" version="1.0">
	<xs:import namespace="http://www.facturae.es/Facturae/2009/v3.2/Facturae" schemaLocation="Facturaev3_2.xsd"/>
	<!-- INFORMACION DE VERSION EN ESPAÑOL -->
	<!-- Version 1.0 revision 10 (1.0r10), con los cambios siguientes: -->
	<!-- (1) Tipo de datos de RPI: de boolean a string -->
	<!-- (2) Opcionalidad en todos los elementos de LogisticExtensionType, esto es, minOccurs = 0. Se exceptua IncotermCode, que mantiene minOccurs = 1 -->			
	<!-- VERSION INFORMATION IN ENGLISH -->
	<!-- Version 1.0 Revision 10 (1.0r10), with these changes: -->
	<!-- (1) RPI datatype, from boolean to string -->
	<!-- (2) Optionality for all LogisticExtensionType fields, that is, minOccurs = 0. Only one exception form IncotermCode, which maintains minOccurs = 1 -->			
	<xs:element name="InditexInvoiceExtension">
		<xs:annotation>
			<xs:documentation xml:lang="en"> Element ORIGIN of Inditex Extension for Facturae at Invoice level</xs:documentation>
			<xs:documentation xml:lang="es"> Elemento ORIGEN de la extension de Inditex para Facturae a nivel de factura</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Version" type="VersionType" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation xml:lang="en"> Code indicating the XSD version used. Versions will be compatible. </xs:documentation>
						<xs:documentation xml:lang="es"> Codigo que indica version utilizada. Existirá compatibilidad de versiones. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InvoiceFamily" type="InvoiceFamilyType" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation xml:lang="en"> Invoice family according to the own classification of Inditex</xs:documentation>
						<xs:documentation xml:lang="es"> Familia de facturas segun la propia de Inditex</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InvoiceInternalId" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation xml:lang="en">INDITEX systems internal invoice identifier It will be filled only when invoice is generated by INDITEX</xs:documentation>
						<xs:documentation xml:lang="es">Identificador interno de la factura en los sistemas de INDITEX. Solo sera rellenado cuando la factura sea generada por INDITEX. </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:long"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Campaign" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[I|V|W|S][2][0][\d][\d]"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LogisticExtension" type="LogisticExtensionType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation xml:lang="en">Logistic information MANDATORY for non nationalized goods (family PRODUCT_INVOICE)</xs:documentation>
						<xs:documentation xml:lang="es"> Informacion logistica OBLIGATORIA para facturas de mercancía no nacionalizada (familia PRODUCT_INVOICE)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CustomsExtension" type="CustomsExtensionType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation xml:lang="en">Customs information RECOMMENDED for non nationalized goods (family PRODUCT_INVOICE)</xs:documentation>
						<xs:documentation xml:lang="es"> Informacion aduanera RECOMENDADA para facturas de mercancía no nacionalizada (familia PRODUCT_INVOICE)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DiscountExtension" type="DiscountsExtensionType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation xml:lang="en">Discount details. MANDATORY when INDITEX provides raw material for manifacturing.</xs:documentation>
						<xs:documentation xml:lang="es">Detalle de descuento. OBLITARIO si INDITEX facilita la materia prima para la fabricación.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="InvoiceFamilyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Invoice family.</xs:documentation>
			<xs:documentation xml:lang="es">Familia de facturas</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRODUCT_INVOICE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LogisticExtensionType">
		<xs:sequence>
			<xs:element name="TransportCode" type="TransportCodeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IncotermCode" type="IncotermCodeType" minOccurs="1" maxOccurs="1"/> 
			<xs:element name="Origin" type="LogisticNodeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Destination" type="LogisticNodeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TotalNetWeight" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Net weight in Kilograms</xs:documentation>
					<xs:documentation xml:lang="es">Peso neto en Kilogramos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalVolume" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Total volume in m3</xs:documentation>
					<xs:documentation xml:lang="es">Volumen total en m3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfCartons" type="xs:integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsExtensionType">
		<xs:sequence>
			<xs:element name="GoodsValueAtCustoms" type="GoodsValueAtCustomsType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountsExtensionType">
		<xs:sequence>
			<xs:element name="DiscountsDetail" type="DiscountsDetailType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LogisticNodeType">
		<xs:sequence>
			<xs:element name="CountryCode" type="fe:CountryType">
				<xs:annotation>
					<xs:documentation xml:lang="en"> ISO 3166-1:2006 Alpha-3 code.</xs:documentation>
					<xs:documentation xml:lang="es"> Código País. Código según la ISO 3166-1:2006 Alpha-3. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country name, oriented to a human readable format.</xs:documentation>
					<xs:documentation xml:lang="es">Nombre del país, orientado a un formato legible para un humano.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NodeCode" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Code for Ports and other Locations according to UNECE Recommendation 16</xs:documentation>
					<xs:documentation xml:lang="es">Códigos de puertos y otras localizaciones de acuerdo a la UNECE Recommendation 16</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NodeName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Node name, oriented to a human readable format.</xs:documentation>
					<xs:documentation xml:lang="es">Nombre del nodo logístico, orientado a un formato legible para un humano.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TransportCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Transport type codes according to UNECE Recommendation 19 (Codes for Modes of Transport) and Agencia Tributaria Española (Sistema de Control de Movimientos de Impuestos Especiales (EMCS))</xs:documentation>
			<xs:documentation xml:lang="es">Códigos de tipos de transporte de acuerdo con la UNECE Recommendation 19 (Codes for Modes of Transport) y la Agencia Tributaria Española (Sistema de Control de Movimientos de Impuestos Especiales (EMCS))</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>TRANSPORTE MARITIMO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>TRANSPORTE POR FERROCARRIL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>TRANSPORTE POR CARRETERA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>TRANSPORTE AEREO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>ENVIOS POSTALES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>TRANSPORTE MAR/AIRE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>INSTALACIONES FIJAS DE TRANSPORTE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation>TRANSPORTE DE NAVEGACION INTERIOR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation>AUTOPROPULSION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>TRANSPORTE FERROCARRIL/AIRE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IncotermCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Incoterm abbreviations according to UNECE</xs:documentation>
			<xs:documentation xml:lang="es">Códigos de los incoterms de acuerdo a la UNECE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EXW"/>
			<xs:enumeration value="FCA"/>
			<xs:enumeration value="CPT"/>
			<xs:enumeration value="CIP"/>
			<xs:enumeration value="DAF"/>
			<xs:enumeration value="DDU"/>
			<xs:enumeration value="DDP"/>
			<xs:enumeration value="FAS"/>
			<xs:enumeration value="FOB"/>
			<xs:enumeration value="CFR"/>
			<xs:enumeration value="CIF"/>
			<xs:enumeration value="DES"/>
			<xs:enumeration value="DEQ"/>
			<xs:enumeration value="DAP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GoodsValueAtCustomsType">
		<xs:sequence>
			<xs:element name="GoodsValueAtOrigin" type="fe:AmountType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Goods value at origin node.</xs:documentation>
					<xs:documentation xml:lang="es">Valor de la mercancía en nodo origen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternationalFreightValue" type="fe:AmountType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">International freight value, from origin node to UE arrival node</xs:documentation>
					<xs:documentation xml:lang="es">Valor del flete internacional, esto es, desde el nodo origen al nodo de entrada en la UE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NationalFreightValue" type="fe:AmountType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">National freight value, from UE arrival node to distribution center.</xs:documentation>
					<xs:documentation xml:lang="es">Valor del flete nacional, desde el nodo de entrada en la UE hasta el centro de distrución.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RPI" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Regime of Passive Improvement.</xs:documentation>
					<xs:documentation xml:lang="es">Régimen de Perfeccionamiento Pasivo. Código alfanumérico que proporciona el Ministerio de Economia
					a INDITEX para que se lo proporcione a sus proveedores para que se indique en las facturas que envíen. Se podría utilizar tanto para 
					los proveedores extracomunitarios como para los proveedores comunitarios pero siempre con mercancía de importación					
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountsDetailType">
		<xs:annotation>
			<xs:documentation xml:lang="en">More than one discount type can be included. In this version only one discount type is considered (raw material), but other discount types will be included in the close future.</xs:documentation>
			<xs:documentation xml:lang="es">Puede haber diferentes tipos de descuento, pero solo uno del mismo tipo con líneas de detalle. Aunque en esta versión solo se contempla el tipo de descuento por materia prima, en el futuro se incluirán otros.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element name="RawMaterialDiscount" type="RawMaterialDiscountType"/>
			<!-- <xs:element name="OtherDiscount" type="...." -->
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RawMaterialDiscountType">
		<xs:sequence>
			<!-- Dual a las líneas de factura-e, que usa items y es mas facil de manejar desde Java -->
			<xs:element name="Lines" type="RawMaterialDiscountLinesType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TotalDiscount" type="fe:AmountType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RawMaterialDiscountLinesType">
		<xs:sequence>
			<xs:element name="RawMaterialDiscountLine" type="RawMaterialDiscountLineType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RawMaterialDiscountLineType">
		<xs:sequence>
			<xs:element name="PurchaseOrder" type="xs:string"/>
			<xs:element name="Reference" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Raw material INDITEX reference code.</xs:documentation>
					<xs:documentation xml:lang="es">Código de referencia de la material prima de INDITEX.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Raw material invoice number.</xs:documentation>
					<xs:documentation xml:lang="es">Número de la factura de venta de materia prima.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitsPerManufacturedUnit" type="xs:double">
				<xs:annotation>
					<xs:documentation xml:lang="en">Units of raw material required per each manufactured unit.</xs:documentation>
					<xs:documentation xml:lang="es">Unidades de materia prima por cada unidad fabricada.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitOfMeasure" type="fe:UnitOfMeasureType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Raw material unit of measure.</xs:documentation>
					<xs:documentation xml:lang="es">Unidad de medida de la materia prima.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitPriceWithoutTax" type="fe:DoubleSixDecimalType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Raw material unit price, without taxes. The same data type as unit price in fe:InvoiceLine is used.</xs:documentation>
					<xs:documentation xml:lang="es">Precio de cada unidad de materia prima, sin impuestos. Se usa el mismo tipo de dato que el precio unitario en fe:InvoiceLine. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalLineDiscount" type="fe:DoubleSixDecimalType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Total for this discount line. The same data type as total in fe:InvoiceLine is used.</xs:documentation>
					<xs:documentation xml:lang="es">Total de descuento de esta línea. Se usa el mismo tipo de dato que el total en fe:InvoiceLine.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="VersionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type for extension version numbering</xs:documentation>
			<xs:documentation xml:lang="es">Tipo para la numeración de las versiones de la extension</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
